<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.SqlServer.Scripting" version="11.0.2100.61" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net45" />
  <package id="Ninject" version="3.2.2.0" targetFramework="net45" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net45" />
  <package id="SmartFormat.NET" version="1.6.1.0" targetFramework="net45" />
</packages>